/*LOGIN*/
.inp-log {
    border: none;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    padding: 0;
}

p {
    line-height: 1.5em;
}

after {
    clear: both;
}

#login {
    margin: 50px auto;
    width: 320px;
}

#login form {
    margin: auto;
    padding: 22px 22px 22px 22px;
    width: 100%;
    border-radius: 5px;
    background: #282e33;
    border-top: 3px solid #434a52;
    border-bottom: 3px solid #434a52;
    justify-content: center;
}

#login form input[type="text"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 100%;
    height: 50px;
}

#login form input[type="password"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 100%;
    height: 50px;
}

#login form input[type="submit"] {
    background: #a81010;
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

#login form input[type="submit"]:hover {
    background: #eb3b3b;
}

/*POPUPS*/
.mensajeCorrecto {
    transition: 500ms;
    margin-top: 130px;
    margin-bottom: -120px;
    width: 100%;
    background-color: #E0F1B5;
    color: #4F5F39;
    border: 1px solid #8BAF5B;
    display: flex;
    align-items: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.mensajeCorrecto p {
    margin: 0;
}

/*HEADER*/
header {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid #ededed;
}

.hd-black {
    background-color: black;
    font-size: 14px;
    display: flex;
    color: #ffffff;
    justify-content: center;
}

.info-hd-black {
    min-width: 1210px;
    min-height: 30px;
    font-size: 11px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-hd-black p {
    padding: 5px 0px;
    margin: 0px;
}

.info-hd-black img {
    width: 70px;
    height: 13.6px;
}

.hd-menu {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
}

.items-menu {
    width: 1210px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items-menu img {
    width: 183px;
    height: 75px;
}

.list-menu ul {
    margin: 0px;
    display: flex;
}

.list-menu li {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-weight: 600;
    height: 75px;
    list-style-type: none;
    border-left: 1px solid #e8e8e8;
}

.list-menu a {
    padding: 0px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    text-decoration: none;
    color: #808080;
    transition: background-color 0.5s;
}

.list-menu a:hover {
    background-color: #ffd700;
    color: black;
}

.current a {
    background-color: #ffd700;
    color: black;
}

/*FOOTER*/
footer {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.separator-footer {
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: center;
    background-color: #222222;
    border-bottom: 2px solid #444444;
}

.main-footer {
    width: 1210px;
    padding: 15px 0px 30px;
    color: #DDDDDD;
    display: flex;
    justify-content: space-between;
}

.main-footer img {
    width: 244px;
    height: 100px;
    margin: 30px 0px;
}

.text-footer {
    margin: 30px 0px;
}

.text-footer h3 {
    font-size: 15.4px;
    font-weight: 600;
    color: #919191;
    margin: 13.09px 0px 8px;
    width: 248px;
}

.text-footer p {
    font-size: 14px;
    width: 248px;
    justify-content: center;
    align-items: center;
}

.sep2-footer {
    width: 100%;
    background-color: #333333;
    color: #eeeeee;
    display: flex;
    justify-content: center;
}

.scnd-footer {
    width: 1310px;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    padding: 15px 50px;
}

.lista-footer {
    display: flex;
    margin: 0 0 0 auto;
}

.lista-footer li {
    list-style-type: none;
    padding: 0px 10px;
}

.social-media {
    margin: -5px 0 0 20px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media li {
    width: 30px;
    line-height: 30px;
    margin: 0px;
    min-height: 30px;
    height: 100%;
}

.social-media a {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

/*HOME*/
.carousel-item {
    max-height: 640px;
    margin-top: 100px;
}

.carousel-item .bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.carousel-indicators button {
    background-color: transparent !important;
    border: 2px solid #ffffff !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
}

.carousel-indicators .active {
    background-color: #ffffff !important;
    border: 2px solid #ffffff !important;
}

.carousel-item h5 {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    display: inline-block;
    background-color: #00000080;
    padding: 10px 15px;
    margin-bottom: 1px;
}

.carousel-item p {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    display: inline-block;
    background-color: #00000080;
    padding: 10px 15px;
}

.carousel-caption {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    text-align: center;
}

.carousel-control-prev {
    width: 60px;
    height: 60px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px;
    margin-top: 25%;
    margin-left: 15px;
}

.carousel-control-prev-icon {
    width: 30px;
    height: 30px;
}

.carousel-control-next {
    width: 60px;
    height: 60px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px;
    margin-top: 25%;
    margin-right: 15px;
}

.carousel-control-next-icon {
    width: 30px;
    height: 30px;
}

.section2 {
    background-color: black;
    display: flex;
    justify-content: center;
}

.contact-us {
    max-width: 1210px;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.text-ct-us {
    max-width: 65%;
    color: #ffffff;
}

.text-ct-us h2 {
    color: #ffffff;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    margin-bottom: -20px;
}

.text-ct-us p {
    color: #b7b7b7;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sec-btn-ct-us {
    max-width: 20%;
    min-height: 67px;
    margin-right: 70px;
    margin-top: 10px;
}

.btn-ct-us {
    min-width: 200px;
    min-height: 67px;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    border-color: #a81010;
    background-color: #a81010;
}

.btn-ct-us:hover {
    border-color: #980e0e;
    background-color: #980e0e;
}

.informacionRest {
    width: 100%;
    height: 715px;
    background-color: #ffffff;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.sectionInfoRest {
    width: 1210px;
    height: 100%;
}

.titleSectionInfoRest {
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titleSectionInfoRest h2 {
    font-weight: 400;
    font-size: 28px;
}

.titleSectionInfoRest p {
    margin-top: -30px;
    font-size: 15px;
}

.sectLineInfoRest {
    width: 100%;
    height: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lineInfoRest {
    width: 50px;
    height: 1.5px;
    background-color: #a81010;
    margin-top: -15px;
}

.imgSectionInfoRest {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 360px;
    margin-top: 10px;
}

.imgSectionInfoRest img {
    max-width: 570px;
    max-height: 360px;
    object-fit: cover;
}

.textSectionInfoRest {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-top: 50px;
    font-size: 14px;
    color: #666666;
}

.textInfoRest1 {
    max-width: 568.7px;
    margin: 0px;
}

.textInfoRest2 {
    max-width: 568.7px;
    margin: 0px;
}

.banderasGanador {
    max-width: 100%;
    height: 48px;
}

.bg-image-fc {
    width: 100%;
    height: 370px;
    background-repeat: repeat;
}

.galeriaImgs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.image-container {
    position: relative;
    max-width: 390px;
    max-height: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px 0 0 15px;
    overflow: hidden;
    box-sizing: border-box;
}

.image-container img {
    width: 390px;
    height: 250px;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 390px;
    height: 250px;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 21px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    transition: opacity 0.3s ease;
    opacity: 1;
    margin-top: 15px;
    margin-left: 15px;
}

.overlay:hover {
    opacity: 0;
}

/*PÁGINA PRODUCTOS*/
.elements-prod {
    display: flex;
}

/*FILTROS*/
.formSelect {
    margin-left: -10px;
}

.selectorProds {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 0px 30px;
    background-color: #fcfcfc;
    border: 1px solid #e1e1e1;
    font-size: 11px;
    padding: 0px 40px 0px 10px;
    color: #666666;
    height: 32.6px;
}

/*PRODUCTOS*/
.section-prod {
    width: 62%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 160px;
    padding-bottom: 50px;
    margin-left: 110px;
    border-right: 1px solid #e1e1e1;
}

.inner-sect {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: left;
}

.productos {
    min-width: 833.3px;
}

.prod-li {
    width: 280px;
    min-height: 360px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    margin: 0 1% 1% 0;
    overflow: hidden;
    padding: 0;
}

.prod-li img {
    width: 100%;
    height: auto;
    display: block;
    border: none;
}

.text-btn-prod {
    border-top: 1px solid #e1e1e1;
    padding: 10px 15px 15px;
    display: flex;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-prod {
    max-width: 208px;
}

.text-btn-prod h2 {
    font-size: 14px;
    color: #222222;
    padding: 5px 0px 0px;
    font-weight: normal;
}

.text-btn-prod bdi {
    font-size: 15px;
    color: #a81010;
    font-weight: 600;
}

.btn-prod {
    transition: 500ms;
    border-radius: 2px;
    border: none;
    background-color: #a81010;
    font-size: 12px;
    color: white;
    margin: 10px 15px 15px;
    padding: 15px;
}

.btn-prod:hover {
    transition: 500ms;
    border-radius: 2px;
    border: none;
    background-color: #eb3b3b;
    padding: 4px;
    font-size: 12px;
    color: white;
    margin: 10px 15px 15px;
    padding: 15px;
}

.lateral-sb {
    height: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 326px;
}

.lateral-sb div {
    padding-top: 160px;
    height: 100%;
}

.lateral-sb h3 {
    color: #222222;
    font-weight: 600;
    font-size: 15.4px;
    padding-bottom: 8px;
    margin: 0px 0px 8px 50px;
    border-bottom: 2px dotted #e1e1e1;
}

.destacadosProd {
    color: #222222;
    font-weight: 600;
    font-size: 15.4px;
    padding-bottom: 8px;
    margin: 0px 0px 8px 50px;
    border-bottom: 2px dotted #e1e1e1;
    padding-top: 60px;
}

.lateral-sb p {
    color: #919191;
    margin: 0px 0px 8px 0px;
    padding-left: 50px;
    font-size: 12px;
}

/*CARRITO CON CONTENIDO*/

.carrito-compra {
    display: flex;
}

.table-prods {
    margin-top: 160px;
    margin-left: 154px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 50px;
}

.tbl-compra {
    background-color: #fcfcfc;
}

.tbl-compra th,
.tbl-compra td {
    border-collapse: collapse;
    border: 1px solid #e1e1e1;
}

.tbl-compra th {
    height: 37px;
    font-size: 12px;
    color: #666666;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.tbl-compra td {
    color: #666666;
    font-size: 13px;
}

.tbl-nombreProd {
    color: #a81010;
    font-size: 13px;
}

.btnDel {
    border: none;
    padding-left: 12px;
    padding-right: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: transparent;
}

.btnDel img {
    width: 25px;
    height: 25px;
}

.tbl-imgProd {
    width: 32px;
    height: 32px;
}

/*CARRITO VACÍO*/
.carrito-main {
    display: flex;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.elements-carrito {
    width: 58%;
    margin-top: 155px;
    margin-left: 154px;
}

.elements-cont {
    padding-right: 50px;
    padding-bottom: 50px;
}

.carrito-vacio {
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    background-color: #fcfcfc;
    margin: 0 0 20px 0;
    padding: 19px;
}

.carrito-vacio p {
    margin: 0;
    font-size: 14px;
    color: #616161;
}

.btn-home {
    transition: 500ms;
    border-radius: 2px;
    border: none;
    background-color: #a81010;
    font-size: 12px;
    color: white;
    margin: 4px 2px 0px 0px;
    padding: 15px;
    line-height: 1em;
}

.btn-home:hover {
    transition: 500ms;
    border-radius: 2px;
    border: none;
    background-color: #eb3b3b;
    font-size: 12px;
    color: white;
    margin: 4px 2px 0px 0px;
    padding: 15px;
    line-height: 1em;
}

.info-text {
    margin: 25px 0px;
    color: #a81010;
    font-weight: 600;
    font-size: 14px;
}

/*SIDEBAR*/
.lateral-info {
    padding-top: 155px;
    border-left: 1px solid #e1e1e1;
}

.buscador {
    margin-left: 50px;
}

.buscador form {
    display: flex;
}

.buscador h3 {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #222222;
    margin: 0px 0px 8px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15.5px;
}

.btn-search {
    background-color: #a81010;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    padding: 0px;
}

.btn-search img {
    width: 15px;
    height: 15px;
}

.buscador-txt {
    margin: 0px;
    border-radius: 0px;
    height: 40px;
    width: 230px;
    border: 1px solid #e1e1e1;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: #fcfcfc;
}