/*LOGIN*/
.inp-log {
    border: none;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    padding: 0;
}

p {
    line-height: 1.5em;
}

after {
    clear: both;
}

#login {
    margin: 50px auto;
    width: 320px;
}

#login form {
    margin: auto;
    padding: 22px 22px 22px 22px;
    width: 100%;
    border-radius: 5px;
    background: #282e33;
    border-top: 3px solid #434a52;
    border-bottom: 3px solid #434a52;
    justify-content: center;
}

#login form input[type="text"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 100%;
    height: 50px;
}

#login form input[type="password"] {
    background-color: #3b4148;
    border-radius: 0px 3px 3px 0px;
    color: #a9a9a9;
    margin-bottom: 1em;
    padding: 0 16px;
    width: 100%;
    height: 50px;
}

#login form input[type="submit"] {
    background: #a81010;
    border: 0;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

#login form input[type="submit"]:hover {
    background: #eb3b3b;
}

/*POPUPS*/
.mensajeCorrecto {
    margin-top: 110px;
    margin-bottom: -130px;
    width: 100%;
    max-width: 55%;
    background-color: #E0F1B5;
    color: #4F5F39;
    border: 1px solid #8BAF5B;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

.mensajeCorrecto p {
    margin: 0;
}

/*HEADER*/
header {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    z-index: 1000;
    border-bottom: 2px solid #ededed;
}

.hd-black {
    background-color: black;
    font-size: 14px;
    display: flex;
    color: #ffffff;
    justify-content: center;
}

.info-hd-black {
    width: 60%;
    min-height: 30px;
    font-size: 11px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .info-hd-black {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 769px) {
    .info-hd-black {
        margin-left: 50px;
        margin-right: 50px;
    }
}

.info-hd-black p {
    padding: 5px 0px;
    margin: 0px;
}

.info-hd-black img {
    width: 70px;
    height: 13.6px;
}

.hd-menu {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
}

.items-menu {
    width: 60%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items-menu img {
    width: 183px;
    height: 75px;
}

.list-menu ul {
    margin: 0px;
    display: flex;
}

.menu_hamburguesa:checked+.list-menu ul {
    height: calc(100vh - 80px);
}

.list-menu li {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-weight: 600;
    height: 75px;
    list-style-type: none;
    border-left: 1px solid #e8e8e8;
}

.list-menu a {
    padding: 0px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    text-decoration: none;
    color: #808080;
    transition: background-color 0.5s;
}

.list-menu a:hover {
    background-color: #ffd700;
    color: black;
}

.current a {
    background-color: #ffd700;
    color: black;
}

@media screen and (max-width: 768px) {
    .items-menu img{
        width: 130px;
        height: 60px;
    }

    .list-menu ul {
        width: 50%;
        background-color: #ffd700;
        position: absolute;
        top: 105px;
        right: 0;
        height: 0;
        overflow: hidden;
        /* height: calc(100vh - var(--altura_header)); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        transition: all .3s;
    }

    .list-menu a{
        color: black;
    }
}

.username {
    padding-top: 27px;
    margin-bottom: 0px;
    margin-left: 8px;
}

@media screen and (max-width: 768px) {
    .list-menu li {
        border-left: none;
        border-bottom: 1px solid #e8e8e8;
        height: 20px;
    }

    .list-menu a {
        height: 20px;
    }

    .username {
        padding-top: 0px;
        margin-left: 0px;
    }
}

#icon-menu {
    width: 50px !important;
    height: 50px !important;
    position: absolute;
    right: 20px;
    top: 42px;
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu_hamburguesa {
    display: none;
}

@media screen and (min-width: 769px) {
    #icon-menu {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .d-md-block {
        display: block !important;
    }
    .d-md-block h5{
        font-size: 50px !important;
    }
}

@media screen and (max-width:550px) {
    .d-md-block h5{
        font-size: 30px !important;
    }
}

/*FOOTER*/
footer {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.separator-footer {
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: center;
    background-color: #222222;
    border-bottom: 2px solid #444444;
}

.main-footer {
    width: 60%;
    padding: 15px 0px 30px;
    color: #DDDDDD;
    display: flex;
    justify-content: space-between;
}

.main-footer img {
    width: 244px;
    height: 100px;
    margin: 30px 0px;
}

.text-footer {
    margin: 30px 0px;
}

.text-footer h3 {
    font-size: 15.4px;
    font-weight: 600;
    color: #919191;
    margin: 13.09px 0px 8px;
    width: 248px;
}

.text-footer p {
    font-size: 14px;
    width: 248px;
    justify-content: center;
    align-items: center;
}

.sep2-footer {
    width: 100%;
    background-color: #333333;
    color: #eeeeee;
    display: flex;
    justify-content: center;
}

.scnd-footer {
    width: 90%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
    padding: 15px 50px;
}

@media screen and (max-width:768px){
    .main-footer{
        display: block;
    }
    
    .main-footer img{
        width: 130px;
        height: 60px;
    }

    .text-footer h3{
        font-size: 13px;
    }

    .text-footer p{
        font-size: 11px;
    }

    .scnd-footer{
        font-size: 8px;
        padding: 15px 20px;
    }
}

.lista-footer {
    display: flex;
    margin: 0 0 0 auto;
}

.lista-footer li {
    list-style-type: none;
    padding: 0px 10px;
}

.social-media {
    margin: -5px 0 0 20px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media li {
    width: 30px;
    line-height: 30px;
    margin: 0px;
    min-height: 30px;
    height: 100%;
}

.social-media a {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

/*HOME*/
.carousel-inner{
    margin-top: 100px !important;
}

.carousel-item {
    max-height: 640px;
}

.carousel-item .bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.carousel-indicators button {
    background-color: transparent !important;
    border: 2px solid #ffffff !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
}

.carousel-indicators .active {
    background-color: #ffffff !important;
    border: 2px solid #ffffff !important;
}

.carousel-item h5 {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    display: inline-block;
    background-color: #00000080;
    padding: 10px 15px;
    margin-bottom: 1px;
}

.carousel-item p {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    display: inline-block;
    background-color: #00000080;
    padding: 10px 15px;
}

.carousel-caption {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    text-align: center;
}

.carousel-control-prev {
    width: 60px;
    height: 60px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px;
    margin: auto;
    margin-left: 15px;
}

.carousel-control-prev-icon {
    width: 30px;
    height: 30px;
}

.carousel-control-next {
    width: 60px;
    height: 60px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 3px;
    margin: auto;
    margin-right: 15px;
}

.carousel-control-next-icon {
    width: 30px;
    height: 30px;
}

@media screen and (max-width:768px){
    .carousel-control-next, .carousel-control-prev {
        display: none;
    }
}

.section2 {
    background-color: black;
    display: flex;
    justify-content: center;
}

.contact-us {
    width: 60%;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.text-ct-us {
    max-width: 65%;
    color: #ffffff;
}

.text-ct-us h2 {
    color: #ffffff;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 28px;
    margin-bottom: -20px;
}

.text-ct-us p {
    color: #b7b7b7;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sec-btn-ct-us {
    max-width: 20%;
    min-height: 67px;
    margin-right: 70px;
    margin-top: 10px;
}

.btn-ct-us {
    width: 200px;
    min-height: 67px;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    border-color: #a81010;
    background-color: #a81010;
}

.btn-ct-us:hover {
    border-color: #980e0e;
    background-color: #980e0e;
}

@media screen and (max-width: 768px){
    .contact-us{
        display: block;
    }
    
    .text-ct-us h2{
        font-size: 20px;
    }

    .text-ct-us p{
        font-size: 12px;
    }

    .btn-ct-us{
        font-size: 12px;
        width: 150px;
    }
}

.informacionRest {
    width: 100%;
    height: 715px;
    background-color: #ffffff;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.sectionInfoRest {
    width: 60%;
}

.titleSectionInfoRest {
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titleSectionInfoRest h2 {
    font-weight: 400;
    font-size: 28px;
}

.titleSectionInfoRest p {
    margin-top: -30px;
    font-size: 15px;
}

@media screen and (max-width:768px){
    .informacionRest{
        padding: 10px;
        padding-top: 30px;
    }

    .titleSectionInfoRest h2{
        font-size: 20px;
    }

    .titleSectionInfoRest p{
        font-size: 12px;
    }
}

.sectLineInfoRest {
    width: 100%;
    height: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lineInfoRest {
    width: 50px;
    height: 1.5px;
    background-color: #a81010;
    margin-top: -15px;
}

.imgSectionInfoRest {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 360px;
    margin-top: 10px;
}

.imgSectionInfoRest img {
    max-width: 570px;
    max-height: 360px;
    object-fit: cover;
}

@media screen and (max-width: 768px){
    .imgSectionInfoRest{
        height: 215px;
    }

    .imgSectionInfoRest img{
        width: 340px;
        height: 215px;
    }
}

.textSectionInfoRest {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    margin-top: 50px;
    font-size: 14px;
    color: #666666;
}

.textInfoRest1 {
    max-width: 568.7px;
    margin: 0px;
    padding-right: 50px;
}

.textInfoRest2 {
    max-width: 568.7px;
    margin: 0px;
}

@media screen and (max-width:768px){
    .textSectionInfoRest{
        margin-top: 20px;
        height: 230px;
        font-size: 12px;
    }
}

.banderasGanador {
    width: 100%;
    height: 48px;
}

.bg-image-fc {
    width: 100%;
    height: 370px;
    background-repeat: repeat;
}

.galeriaImgs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.image-container {
    position: relative;
    max-width: 390px;
    max-height: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px 0 0 15px;
    overflow: hidden;
    box-sizing: border-box;
}

.image-container img {
    width: 95%;
    height: 95%;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 92%;
    height: 95%;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 21px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    transition: opacity 0.3s ease;
    opacity: 1;
    margin-top: 15px;
    margin-left: 15px;
}

.overlay:hover {
    opacity: 0;
}

@media screen and (max-width:768px){
    .bg-image-fc{
        height: 700px;
    }
    
    .galeriaImgs{
        padding-top: 50px;
        flex-direction: column;
    }

    .image-container{
        width: 310px;
        height: 200px;
        margin: 0px;
    }

    .image-container img{
        width: 310px;
        height: 200px;
    }

    .overlay{
        width: 310px;
        height: 200px;
    }
}

/*PÁGINA PRODUCTOS*/
.super-elements-prod{
    width: 100%;
    display: flex;
    justify-content: center;
}

.elements-prod {
    display: flex;
    width: 60%;
}

/*FILTROS*/
.formSelect {
    margin-left: -10px;
}

.selectorProds {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 0px 30px;
    background-color: #fcfcfc;
    border: 1px solid #e1e1e1;
    font-size: 11px;
    padding: 0px 40px 0px 10px;
    color: #666666;
    height: 32.6px;
}

/*PRODUCTOS*/
.section-prod {
    width: 75%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 160px;
    padding-bottom: 50px;
    border-right: 1px solid #e1e1e1;
}

.inner-sect {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: left;
}

.productos {
    width: 100%;
}

.prod-li {
    max-width: 270px;
    width: 270px;
    min-height: 360px;
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    margin: 0 1% 1% 0;
    overflow: hidden;
    padding: 0;
}

.prod-li img {
    width: 100%;
    height: auto;
    display: block;
    border: none;
}

.text-btn-prod {
    border-top: 1px solid #e1e1e1;
    padding: 10px 15px 15px;
    display: flex;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-prod {
    max-width: 208px;
}

.text-btn-prod h2 {
    font-size: 14px;
    color: #222222;
    padding: 5px 0px 0px;
    font-weight: normal;
}

.text-btn-prod bdi {
    font-size: 15px;
    color: #a81010;
    font-weight: 600;
}

.btn-prod {
    transition: 500ms;
    border-radius: 2px;
    border: none;
    background-color: #a81010;
    font-size: 12px;
    color: white;
    margin: 10px 15px 15px;
    padding: 15px;
}

.btn-prod:hover {
    transition: 500ms;
    border-radius: 2px;
    border: none;
    background-color: #eb3b3b;
    padding: 4px;
    font-size: 12px;
    color: white;
    margin: 10px 15px 15px;
    padding: 15px;
}

@media screen and (max-width: 768px){
    .elements-prod{
        width: 90%;
    }

    .section-prod{
        width: 100%;
        border: none;
        justify-content: center;
    }

    .row{
        display: flex;
        flex-direction: column !important;
        align-content: center;
    }
}

.lateral-sb {
    height: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 25%;
}

@media screen and (max-width: 768px){
    .lateral-sb{
        display: none;
    }   
}

.cat-dest-prods {
    padding-top: 160px;
    height: 100%;
    width: 100%;
}

.dest-sidebar{
    height: 100%;
    width: 100%;   
    margin-bottom: 50px;
}

.lateral-sb h3 {
    color: #222222;
    font-weight: 600;
    font-size: 15.4px;
    padding-bottom: 8px;
    margin: 0px 0px 8px 50px;
    border-bottom: 1px dotted #e1e1e1;
}

.destacadosProd {
    color: #222222;
    font-weight: 600;
    font-size: 15.4px;
    padding-bottom: 8px;
    margin: 0px 0px 8px 50px;
    border-bottom: 1px dotted #e1e1e1;
    padding-top: 60px;
}

.ul-destacados{
    margin-left: 50px;
    padding: 0px;
}

.li-destacados{
    border-bottom: 1px dotted #e1e1e1;
    list-style-type: none;
}

.li-destacados p{
    padding: 0px !important;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    color: #919191;
}

.txt-dest{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    font-weight: 600 !important;
    color: #919191;
}

.textImg-destacados{
    display: flex;
    justify-content: space-between;
}

.textImg-destacados img{
    width: 32px;
    height: 32px;
}

.lateral-sb p {
    color: #919191;
    margin: 0px 0px 8px 0px;
    padding-left: 50px;
    font-size: 12px;
}

/*CARRITO CON CONTENIDO*/
.sub-carrito-main{
    width: 60%;
    display: flex;
}

.carritoLleno {
    margin-bottom: 50px;
    width: 75%;
}

.carrito-compra {
    display: flex;
}

.table-prods {
    margin-top: 155px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 50px;
}

.tbl-compra {
    background-color: #fcfcfc;
}

.tbl-compra th,
.tbl-compra td {
    border-collapse: collapse;
    border: 1px solid #e1e1e1;
}

.tbl-compra th {
    height: 37px;
    font-size: 12px;
    color: #666666;
    letter-spacing: 1.5px;
    font-weight: 600;
    padding: 9px 12px;
}

.tbl-compra td {
    color: #666666;
    font-size: 13px;
    height: 56px;
    padding: 6px 12px;
}

.tbl-nombreProd {
    color: #a81010;
    font-size: 13px;
}

.btnDel {
    border: none;
    background-color: transparent;
    padding: 0px;
    margin-left: -5px;
}

.btnDel img {
    width: 25px;
    height: 25px;
}

.tbl-imgProd {
    width: 100%;
    height: 100%;
}

.cantidadProducto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.restaCantidad,
.sumaCantidad {
    width: 43px;
    height: 43px;
    background-color: #ebebeb;
    color: #919191;
    border: 1px solid #e1e1e1;
}

.valorCantidad {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    background-color: #ffffff;
    width: 43px;
    height: 43px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tbl-delete{
    width: 7%;
}
.tbl-img{
    width: 8%;
}
.tbl-nombreProd{
    width: 25%;
    padding: 9px 12px;
}
.tbl-precioProd{
    width: 15%;
}
.tbl-cantidad{
    width: 25%;
}
.tbl-subtotal{
    width: 20%;
}

.tbl-totalCompra {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 50px;
    width: 400px;
    max-width: 400px;
    margin-top: 25px;
}

.tbl-totalCompra h2 {
    font-size: 14px;
    margin: 0px 0px 10px;
    letter-spacing: 1px;
    font-weight: 600;
}

.tbl-total {
    background-color: #fcfcfc;
    padding: 6px 24px;
}

.tbl-total th,
.tbl-total td {
    border-collapse: collapse;
    border: 1px solid #e1e1e1;
}

.tbl-total th {
    font-size: 12px;
    font-weight: 500;
    padding: 6px 24px;
    width: 229.8px;
    height: 36px;
    letter-spacing: 1.5px;
}

.tbl-total td {
    font-size: 13px;
    padding: 6px 24px;
    height: 36px;
    width: 169.1px;
}

.finCompra {
    margin-top: 10px;
}

.btn-finCompra {
    transition: 500ms;
    border-radius: 2px;
    border: none;
    background-color: #a81010;
    font-size: 13px;
    color: white;
    margin: 4px 2px 0px 0px;
    padding: 15px;
    width: 193px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-finCompra:hover {
    transition: 500ms;
    border-radius: 2px;
    border: none;
    background-color: #eb3b3b;
    font-size: 13px;
    color: white;
    margin: 4px 2px 0px 0px;
    padding: 15px;
    width: 193px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*RESEÑA CARRITO*/
.section-review{
    margin-top: 150px;
    margin-left: 50px;
}

.review-carrito{
    margin-bottom: 50px;
}

.review-carrito input{
    margin-top: 20px;
    width: 35%;
}

#pedidoID{
    border-radius: 2px;
    border: 1px solid #3333339d;
    width: 30%;
}

#pointsReview{
    width: 15%;
    font-size: 14px;
    height: 30px;
}

#inp-text-reseña{
    width: 100%;
}

#div-text-reseña{
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    width: 70%;
}

#div-text-reseña p{
    width: 120px;
}

.btn-sendReview{
    transition: 500ms;
    border-radius: 5px;
    border: none;
    background-color: #a81010;
    font-size: 15px;
    color: white;
    margin: 4px 2px 0px 0px;
    padding: 15px;
    line-height: 1em;
}

.btn-sendReview:hover{
    transition: 500ms;
    border-radius: 5px;
    border: none;
    background-color: #eb3b3b;
    font-size: 15px;
    color: white;
    margin: 4px 2px 0px 0px;
    padding: 15px;
    line-height: 1em;
}

/*TABLA CANJEO DE PUNTOS*/
.tbl-puntos{
    width: 100%;
    border: 1px solid #e1e1e1;
    background-color: #fcfcfc;
    border-top: none;
}

.tr-tbl-puntos{
    width: 100%;
}

.tr-tbl-puntos td{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.tr-tbl-puntos p{
    margin-top: 15px;
}

.tr-tbl-puntos input{
    width: 200px;
    float: left;
    margin: 3px 3px 3px 0;
    font: 12px/1.7em "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 17px;
    border-radius: 2px;
    border: 1px solid #e1e1e1;
    color: #919191;
    padding: 11px;
    outline: none;
}

.tr-tbl-puntos button{
    transition: all 0.3s ease-out;
    width: 200px;
    margin: 3px 0;
    padding-left: 0;
    padding-right: 0;
    background-color: #a81010;
    color: #ffffff;
    border-color: #860000;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    padding: 15px;
    line-height: 1em;
    font-size: 12px;
}

.tr-tbl-puntos button:hover{
    transition: all 0.3s ease-out;
    width: 200px;
    margin: 3px 0;
    padding-left: 0;
    padding-right: 0;
    background-color: #eb3b3b;
    color: #ffffff;
    border-color: #860000;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    float: left;
    padding: 15px;
    line-height: 1em;
    font-size: 12px;
}

.pts-dispo{
    justify-content: left !important;
}

.pts-dispo p{
    font-size: 14px;
}

/*CARRITO VACÍO*/
.carrito-main {
    width: 100%;
    display: flex;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
}

.elements-carrito {
    width: 58%;
    margin-top: 155px;
    margin-left: 154px;
}

.elements-cont {
    padding-right: 50px;
    padding-bottom: 50px;
}

.carrito-vacio {
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    background-color: #fcfcfc;
    margin: 0 0 20px 0;
    padding: 19px;
}

.carrito-vacio p {
    margin: 0;
    font-size: 14px;
    color: #616161;
}

.btn-home {
    transition: 500ms;
    border-radius: 2px;
    border: none;
    background-color: #a81010;
    font-size: 12px;
    color: white;
    margin: 4px 2px 0px 0px;
    padding: 15px;
    line-height: 1em;
}

.btn-home:hover {
    transition: 500ms;
    border-radius: 2px;
    border: none;
    background-color: #eb3b3b;
    font-size: 12px;
    color: white;
    margin: 4px 2px 0px 0px;
    padding: 15px;
    line-height: 1em;
}

.info-text {
    margin: 25px 0px;
    color: #a81010;
    font-weight: 600;
    font-size: 14px;
}

/*SIDEBAR*/
.lateral-info {
    padding-top: 155px;
    width: 25%;
    border-left: 1px solid #e1e1e1;
}

.buscador {
    margin-left: 50px;
}

.buscador form {
    display: flex;
}

.buscador h3 {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #222222;
    margin: 0px 0px 8px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15.5px;
}

.btn-search {
    background-color: #a81010;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    padding: 0px;
}

.btn-search img {
    width: 15px;
    height: 15px;
}

.buscador-txt {
    margin: 0px;
    border-radius: 0px;
    height: 40px;
    width: 100%;
    border: 1px solid #e1e1e1;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: #fcfcfc;
}

@media screen and (max-width: 1140px){
    .lateral-info{
        display: none;
    }

    .sub-carrito-main{
        width: 100%;
        justify-content: center;
    }
    .table-prods{
        padding: 0;
    }
}

@media screen and (max-width:768px){
    .tbl-img{
        display: none;
    }
    .tbl-cantidad{
        display: none;
    }
}

@media screen and (max-width:480px){
    .tbl-subtotal{
        display: none;
    }
}

/*PROPINA*/
.propinas{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#porcentaje{
    
}

.btn-noPropina{
    background-color: #a81010;
    width: 120px;
    color: #ffffff;
    height: 40px;
    font-size: 12px;
    border: 1px solid transparent;
    padding: 0px;
    margin-bottom: 25px;
    border-radius: 2px;
}

.btn-noPropina:hover{
    background-color: #eb3b3b;
    width: 120px;
    color: #ffffff;
    height: 40px;
    font-size: 12px;
    border: 1px solid transparent;
    padding: 0px;
    margin-bottom: 25px;
    border-radius: 2px;
}

/*RESEÑAS*/
.global-frame{
    width: 100%;
    display: flex;
    justify-content: center;
}

.superbloque-reviews{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.bloque-reviews{
    width: 75%;
    padding-top: 160px;
    border-right: 1px solid #e1e1e1;
}

/*ESTILO FILTROS*/
.bloque-filtros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 480px;
    margin-bottom: 40px;
}

.bloque-filtros button{
    transition: all 0.3s ease-out;
    width: 120px;
    margin: 3px 0px;
    background-color: #a81010;
    color: #ffffff;
    border-color: #860000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    line-height: 1em;
    font-size: 14px;
}

.selector-calificacion{
    background-color: #fcfcfc;
    border: 1px solid #e1e1e1;
    font-size: 15px;
    padding: 0px 40px 0px 10px;
    color: #666666;
    height: 32.6px;
}

/*ESTILO RESEÑA*/
.reviewsSection{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #222222;
}

.review{
    width: 90%;
    border-bottom: 2px dotted #e1e1e1;
    margin-bottom: 50px;
}

.title-review{
    font-size: 25px;
    font-weight: 600;
}

.puntos-review{
    font-size: 15px;
    color: #a81010;
    margin-bottom: 5px;
    margin-top: -5px;
}

.text-review{
    font-size: 15px;
}

/*SECCION QR-INSERTAR-REVIEW*/
.qr-insert-section{
    display: flex;
}

.qr-div{
    margin-top: 300px;
    margin-bottom: 50px;
}

.qr-div p{
    font-size: 20px;
    font-weight: bold;
}

.qr-div img{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*SECCION PEDIDO INFO ADICIONAL*/
.div-infoPedido{
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: 80px;
}

.div-infoPedido h1{
    font-size: 32px;
}

.div-productos tr, .div-productos th, .div-productos td{
    border: 1px solid black;
}

.div-productos th, td{
    padding-right: 20px;
    width: 200px;
}

/*GESTION ADMIN*/

/*BOTONES PRODUCTOS*/
.btn-productos {
    display: flex;
}

.btn-admins {
    display: flex;
    margin: 10px 15px 15px;
}

.btn-addProd {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    background-color: #a81010;
    color: white;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 20px;
}

.btn-editProd {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    background-color: #a81010;
    color: white;
    border: 1px solid transparent;
    padding: 8px;
    border-radius: 2px;
    width: 45px;
    height: 48px;
    margin-right: 10px;
}

.btn-delProd {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    background-color: #a81010;
    color: white;
    border: 1px solid transparent;
    padding: 8px;
    border-radius: 2px;
    width: 45px;
    height: 48px;
}

/*EDITAR*/
.h2-edit {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 120px;
    margin-left: 120px;
}

.form-editProd {
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 40px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.form-editProd input {
    border: 1px solid #333333;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-editProd select {
    border: 1px solid #333333;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-editProd button {
    background-color: #a81010;
    color: white;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 5px;
}

/*AÑADIR*/
.h2-add {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 120px;
    margin-left: 120px;
}

.form-addProd {
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 40px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.form-addProd input {
    border: 1px solid #333333;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-addProd select {
    border: 1px solid #333333;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-addProd button {
    background-color: #a81010;
    color: white;
    border: 1px solid transparent;
    padding: 10px;
    border-radius: 5px;
}